@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";
body {
  font-family: "Inter", sans-serif;
}
.form-container {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@layer components {
  .auth-title {
    @apply text-4xl font-bold text-violet-500 text-center my-8;
  }

  .screen-center {
    @apply relative flex justify-center items-center w-screen min-h-screen p-2;
  }

  .t {
    @apply transition-all duration-300 ease-in-out;
  }

  .auth-card {
    @apply w-full max-w-md sm:max-w-lg md:max-w-xl lg:max-w-2xl transition-all duration-300 delay-75 ease-in-out 
        bg-slate-800 overflow-hidden rounded-3xl shadow-purple-500/30 flex flex-col justify-center m-4 hover:-translate-y-1 hover:shadow-lg;
    animation: fade-in 0.3s ease-in forwards;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input {
  background-color: #0f172a !important; /* slate-900 */
  color: #f1f5f9 !important; /* slate-100 */
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #0f172a inset !important;
  -webkit-text-fill-color: #f1f5f9 !important;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse-slow {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
}

@keyframes square {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
    border-radius: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out;
}

.animate-pulse-slow {
  animation: pulse-slow 8s infinite ease-in-out;
}

.animate-square {
  animation: square 25s infinite;
}
